@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply hidden xl:inline-flex p-2 h-10 w-10 bg-gray-200 rounded-full text-gray-700 cursor-pointer hover:bg-gray-300;
  }

  .inputIcon {
    @apply flex items-center space-x-1 hover:bg-gray-100 flex-grow justify-center p-2 rounded-xl cursor-pointer;
  }
}

* {
  margin: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
}

/* Hide scroll bar for chrome, safari and opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scroll bar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
